<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default02}">
     
		
		<section layout:fragment="contents" class="contents ml-3">
				<div class="story">스토리</div>
			<div class="d-flex justify-content-center">
			
			<!-- 
			 -->
			
				<div class="post-image my-5 ml-3"> <!--  포스팅 이미지 정보 th:src="${post.imagePath}" src="https://cdn.pixabay.com/photo/2022/12/20/12/10/santa-7667744_1280.jpg"-->
				<img class="post-image" th:src="${post.imagePath}"  >
				</div>
				
				<div class="comment my-5"> <!--  오른쪽 코멘트란 -->
					<div class="d-flex justify-content-between mt-2 p-2 border-bottom"> 
						<div class="d-flex align-items-center ml-3"> <!-- 포스트 한 사람 정보 -->
							<img height="34" src="/static/icon/storyavatar.png">
							<div class="ml-3 abeezee-regular">
								<a href="#" class="font-weight-bold text-dark abeezee-regular mr-3">user_name</a>
							</div>
						</div>
						
						<div class="m-2"><a href="#"><img width="30" src="/static/icon/etc.png"></a></div> <!--  더보기 -->
					</div>
					
					<div class="mt-2 p-2 ml-3 posting">
						<div class="d-flex">
							<div>
								<img height="34" src="/static/icon/storyavatar.png">
							</div>
							<div class="mb-3 mx-3">
								<div class=" my-2 "> <!-- 내용란 -->
									<a href="#" class="font-weight-bold text-dark abeezee-regular mr-3" th:text="${post.userId}">user_name</a>
									
									<span class="noto-sans-kr small" th:text="${post.contents}">
									크리스마스라니~ 시간 빠르다
									크리스마스라니~ 시간 빠르다
									크리스마스라니~ 시간 빠르다
									크리스마스라니~ 시간 빠르다
									</span>
								</div>
									<div class="d-flex small text-left">
										<span class="abeezee-regular-italic"><a href="#" class="text-secondary">See translation</a></span>
									</div>
							</div>
						</div>
							
							
							<div class="d-flex justify-content-between p-1 mb-2"> <!--  댓글 시작부분 -->
								<span class="d-flex small">
									<span>
										<img width="25" src="/static/icon/storyavatar.png">
									</span>
									<div class="ml-3">
										<a href="#" class="text-dark abeezee-regular font-weight-bold">user_comment1</a>
											<span class="noto-sans-kr ml-3 small">블라블라 솰라솰라 블라블라 솰라솰라 블라블라 솰라솰라 블라블라 솰라솰라 블라블라 솰라솰라 블라블라 솰라솰라</span>
										<div class="small text-secondary text-left">
											<span class="small mr-2 noto-sans-kr"> 30분</span>
											<span class="small mr-2 noto-sans-kr"> 좋아요 1개</span>
											<a href="#" class="small text-secondary noto-sans-kr mr-2">답글달기</a>
											<a href="#" class="small text-secondary abeezee-regular-italic"> See translation</a>
										</div>
									</div>
								</span>
								<span class="mt-2">
									<a href="#" class="bi bi-heart small mx-2 text-dark"></a>
								</span>
							</div> <!--  댓글 끝나는 부분 -->
							
							<div class="d-flex justify-content-between p-1 mb-2"> <!--  댓글 -->
								<span class="d-flex small">
									<span>
										<img width="25" src="/static/icon/storyavatar.png">
									</span>
									<div class="ml-3">
										<a href="#" class="text-dark abeezee-regular font-weight-bold">user_comment2</a>
											<span class="noto-sans-kr ml-3 small">어쩌구저쩌구 랄라라라러 웅앵웅앵 솰라솰라 대충 감동적인말 웃긴말 어쩌구저쩌구 랄라라라러 웅앵웅앵 솰라솰라 대충 감동적인말 웃긴말</span>
										<div class="small text-secondary text-left">
											<span class="small mr-2 noto-sans-kr"> 30분</span>
											<span class="small mr-2 noto-sans-kr"> 좋아요 1개</span>
											<a href="#" class="small text-secondary noto-sans-kr mr-2">답글달기</a>
											<a href="#" class="small text-secondary abeezee-regular-italic"> See translation</a>
										</div>
									</div>
								</span>
								<span class="mt-2">
									<a href="#" class="bi bi-heart small mx-2 text-dark"></a>
								</span>
							</div>
							
							
							
					</div>
						<div class="p-2 my-1 mx-3 border-top comment-ui">
							<div class="d-flex justify-content-between">
								<div class="d-flex align-items-center h4 font-weight-bold">
									<a href="#" class="bi bi-heart mr-3 text-dark" style="text-decoration:none"></a>
									<a href="#" class="bi bi-chat mr-3 text-dark" style="text-decoration:none"></a>
									<a href="#" class="bi bi-send mr-3 text-dark" style="text-decoration:none"></a>	
								</div>
								<div class="d-flex align-items-center h4 font-weight-bold">
									<i class="bi bi-bookmark"></i>
								</div>
							</div>
							<div class="font-weight-bold mt-3">좋아요 000개</div>
							<div class="abeezee-regular small text-secondary mb-3">5 days ago</div>
							<div class="border-top d-flex align-items-center justify-content-between">
								<span class="my-1 p-1 d-flex">
									<i class="bi bi-emoji-smile h4"></i>																		<!-- th:id="|commentInput${card.postId}|" -->
									<span class="ml-2"><input type="text" class="form-control border-0 noto-sans-kr" placeholder="댓글달기" id="commentInput"></span>
								</span>
								<button type="button" class="btn btn-0 text-primary" id="commentBtn" data-post-id="${card.postId}">게시</button>
							</div>
						</div>
					
					
					
					
					
					
					
					
				</div>
				
			</div>
		</section>
	
		<script layout:fragment="script">
		
		$(document).ready(function(){
			
			
			$("#commentBtn").on("click",function(){
				
			let comments = $("#commentInput").val();
		//  let comments = $(this).perv().val();
		//  let comments = $("#commentsInput" + postId).val();
			
			alert(comments);

			
			let postId = $(this).data("post-id");
			
			
			
			
		
			$.ajax({
				type:"post"
				,url:"/comment/create"
				,data:{"postId":postId,"comments":comments}
				,success:function(response){
					if(response.result == "success"){
						location.reload();
					} else {
						alert("댓글 작성 실패")
					}
				}
				,error:function(){
					alert("작성 오류!! ");
				}
				
			});
			
			
			
		});
			
			
			
			
			
		});
		
		
		</script>
		
		
</html>
</html>