<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default02}">
     
		
		<section layout:fragment="contents" class="contents ml-3">
			<div class="story">스토리</div>
			<div class="d-flex justify-content-center" th:each="card:${cardList}">
				<div class="post my-5 ml-3" >
					<div class="userinfo d-flex justify-content-between mt-2 p-2 border-bottom">
						<div class="d-flex align-items-center ml-3">
							<div>
							<!-- 
								<img width="40" src="/static/icon/storyavatar.png">
							 -->
							 <i class="bi bi-person-circle h1"></i>
							</div>
							<div class="ml-3 abeezee-regular"><!-- 포스트 한 사람 정보 -->
								<div class="font-weight-bold" th:text="${card.userName}">user_name</div>
								<!-- 
								<div class="small">Seoul, Korea</div>
								 -->
							</div>
						</div>
						<div class="m-2"><a href="#"><img width="30" src="/static/icon/etc.png"></a></div>
					</div>
					<div> <!--  image -->
						<img class="post-image" th:src="${card.imagePath}">
					</div>
					<div class="d-flex justify-content-between p-1 my-1">
						<div class="d-flex align-items-center h4 font-weight-bold">
							<i th:unless="${card.isLike}" class="bi bi-heart mr-3 text-dark like-btn" th:data-post-id="${card.postId}"></i>
								<i th:if="${card.isLike}" class="bi bi-heart-fill mr-3 text-danger like-btn" th:data-post-id="${card.postId}"></i>
							<a th:href="|/blastagram/comment-view?${card.postId}|" class="bi bi-chat mr-3 text-dark" style="text-decoration:none"></a>
							<a href="#" class="bi bi-send mr-3 text-dark" style="text-decoration:none"></a>
						</div>
						<div class="d-flex align-items-center h4 font-weight-bold">
							<i class="bi bi-bookmark"></i>
						</div>
						
					</div>
					<div class="mx-3 my-2"> <!-- 내용, 코멘트란 -->
						<div class="d-flex"> <!--  내용 -->
							<div class="mr-2 abeezee-regular font-weight-bold" th:text="${card.userName}">user_name</div>
							<div class="noto-sans-kr" th:if="${card.contents != 'null'}" th:text="${card.contents}"> 크리스마스라니~ 시간 빠르다 </div>
							<div class="noto-sans-kr" th:if="${card.contents == 'null'}"> </div>
						</div>
						<div> <!--  댓글 -->
							<div class="mt-4"><a th:href="|/blastagram/comment-view?postId=${card.postId}|" class="text-secondary" th:text="|View all ${card.commentCount} comments|">View all 3 comments</a></div>
						</div>
						<div class="d-flex">
							<div class="abeezee-regular">5 days ago</div>
							<div class="ml-3 abeezee-regular-italic"><a href="#" class="text-secondary">See translation</a></div>
						</div>
					</div>
				</div>
				
			</div>			
		</section>
		
		<script layout:fragment="script">
		
		$(document).ready(function(){
			
			$(".like-btn").on("click", function(){
				
				// 이벤트가 발생한 태그 객체
				let postId = $(this).data("post-id")
				
				
				$.ajax({
					 type:"post"
					, url:"/post/like"
					, data:{"postId":postId}
					, success:function(response){
						if(response.result =="success"){
							location.reload();
						} else {
							alert("좋아요 실패")
						}
					}
					, error:function(){
							alert("좋아요 에러!!")
						
					}
					
				});
				
				
			});
			
			
		});
		
		</script>
		
		
</html>