<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     
		<section layout:fragment="contents" class="contents d-flex justify-content-center my-5 p-4">
			<div class="main rounded-lg border border-secondary col-5 p-5">
				<h1 class="pacifico-regular text-center m-5">Blastagram</h1>
				<div class="d-flex mt-3">
					<input type="text" class="form-control col-9" placeholder="휴대폰 번호 또는 이메일 주소" id="idInput">
					<button type="button" class="btn btn-sm btn1 text-white w-25 ml-1" id="duplicateBtn">중복확인</button>
				</div>
					<div class="small text-success d-none" id="availableText">사용가능한 아이디입니다</div>
					<div class="small text-danger d-none" id="duplicateText">중복된 아이디입니다</div>
					<div class="small text-danger d-none" id="invailableText">'-'을 제외한 전화번호 또는 유효한 이메일을 입력해주세요</div>
				<input type="password" class="form-control mt-3" placeholder="비밀번호" id="passwordInput">
				<input type="text" class="form-control mt-3" placeholder="성명" id="nameInput">
				<input type="text" class="form-control mt-3" placeholder="사용자 이름" id="userIdInput">
					<div class="mt-5"></div>
				<button type="button" class="btn btn2 mt-5 w-100 text-white" id="joinBtn">가입</button>
					<div class="mt-5"></div>
			</div>
		</section>

		<script layout:fragment="script">
		
		$(document).ready(function(){
			
	
			var isDuplicateCheck = false; // 중복체크를 안했다가 default인 상태
			var isDuplicateId = true; // 중복검사를 했는데 중복일 때 
			
			$("#idInput").on("input",function(){ // input 창에 입력을 하면 
				
				isDuplicateCheck = false;
				isDuplicateId = true;
				$("#invailableText").addClass("d-none");
				$("#availableText").addClass("d-none");
				$("#duplicateText").addClass("d-none");
				
			});
			
			
			var isCorrectId = true;
			const email_regex = /^[^\s@]+@[^\s@]+.[^\s@]+$/; // 맞으면 true로 받음 
			const phone_regex = /^[0-9]{10,11}$/;
		    
			
			// 중복확인 버튼
			$("#duplicateBtn").on("click",function(){

				let loginId = $("#idInput").val();
				let password = $("#passwordInput").val();
				let name = $("#nameInput").val();
				let userId = $("#userIdInput").val();
			
				
				// 유효성 검사
				
				if(loginId == ""){
					alert("휴대폰 번호 또는 이메일 주소를 입력해주세요");
					return;
				}
				
				//양식에 맞지 않는것도 안된다고 해야함... 
				// 이메일 양식에 맞지 않으면 
				if(!(email_regex.test(loginId) || phone_regex.test(loginId))){
					$("#invailableText").removeClass("d-none");
					$("#availableText").addClass("d-none");
					$("#duplicateText").addClass("d-none");
					
					return isCorrectId = false;
				}  // 리턴시켜주기 
					
					
				
				// 버튼누르면 사용가능한 아이디인지 & 제대로 된 양식인지... 한번에 확인하려면... ? 
						// 그리고 가입도 안되게... 
				
				$.ajax({ // 중복확인
					type:"get"
					, url:"/blastagram/duplicate-id"
					, data:{"loginId":loginId}
					//, data:{"email":email,"phoneNumber":phoneNumber}
				
					, success:function(response) {
					
							isDuplicateCheck = true; // 중복확인을 했다 
						
							if(response.isDuplicate) { // 중복이면
								$("#duplicateText").removeClass("d-none");
								$("#availableText").addClass("d-none");
								isDuplicateId = true;
							} else {
								$("#duplicateText").addClass("d-none");
								$("#availableText").removeClass("d-none");
								isDuplicateId = false;
							}
						//	if(data.isDuplicate) {
						//		alert("중복된 아이디 입니다")
						//	} else {
						//		alert("사용 가능한 아이디입니다")
						//	}
						
						}
						, error:function() {
							alert("중복확인 에러!");
						}
				});
				
			});
				
			
	
			$("#joinBtn").on("click", function(){
				
				let loginId = $("#idInput").val();
				let password = $("#passwordInput").val();
				let name = $("#nameInput").val();
				let userId = $("#userIdInput").val();
				
				//if(email == "" && phoneNumber == ""){
				if(loginId == ""){
					alert("휴대폰 번호 또는 이메일 주소를 입력해주세요");
					return;
					
				}
				if(!isDuplicateCheck){
					alert("중복체크를 해주세요");
					return;
				}	
					
				if(!isDuplicateId){
					alert("중복된 아이디로는 가입할 수 없습니다.");
					return;
					
				}
				if(password == ""){
					alert("비밀번호를 입력해주세요");
					return;
					
				}
				if(name == ""){
					alert("이름을 입력해주세요");
					return;
					
				}
				if(userId == ""){
					alert("프로필에 표시될 이름을 입력해주세요");
					return;
				}
				
				
				$.ajax({ // 회원가입 ajax
						type:"post"
						, url:"/blastagram/sign-up"
						, data:{"loginId":loginId, "password":password, "name":name, "userId":userId}
						//, data:{"email":email,"phoneNumber":phoneNumber, "password":password, "name":name, "userId":userId}
						, success:function(response){
							if(response.result = "success"){
							location.href="/blastagram/login-view"
							} else {
								alert("회원가입 실패");
							}
						}
						, error:function(){
							alert("회원가입 오류!!");		
						}
				});
				
			});
			
			
			
			
		});
		
		
		</script>

</html>