<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     
		<section layout:fragment="contents" class="contents d-flex justify-content-center my-5 p-4">
			<div class="main rounded-lg border border-secondary col-5 p-5">
				<h1 class="pacifico-regular text-center m-5">Blastagram</h1>
				<div class="d-flex mt-3">
					<input type="text" class="form-control col-9" placeholder="휴대폰 번호 또는 이메일 주소" id="idInput">
					<button type="button" class="btn btn-sm btn1 text-white w-25 ml-1" id="duplicateBtn">중복확인</button>
				</div>
				<input type="password" class="form-control mt-3" placeholder="비밀번호" id="passwordInput">
				<input type="text" class="form-control mt-3" placeholder="성명" id="nameInput">
				<input type="text" class="form-control mt-3" placeholder="사용자 이름" id="userIdInput">
					<div class="mt-5"></div>
				<button type="button" class="btn btn2 mt-5 w-100 text-white" id="joinBtn">가입</button>
					<div class="mt-5"></div>
			</div>
		</section>

		<script layout:fragment="script">
		
		$(document).ready(function(){
			
			// 중복확인 버튼
			$("#duplicateBtn").on("click",function(){

				let loginId = $("#idInput").val();
			
				// 유효성 검사
				if(loginId == ""){
					alert("휴대폰 번호 또는 이메일 주소를 입력해주세요");
					return;
				}
				$.ajax({
					type:"post"
					, url:"/blastagram/duplicate-id"
					, data:{"loginId":loginId}
					, success:function(data) {
						// 중복 : {"isDuplicate":true}
						// 중복 아님 : {"isDuplicate":false}
							if(data.isDuplicate) {
								alert("중복된 아이디 입니다")
							} else {
								alert("사용 가능한 아이디입니다")
							}
						
						}
						, error:function() {
							alert("중복확인 에러!");
						}
				});
				
			});
				
			
			$("#joinBtn").on("click", function(){
				
				let loginId = $("#idInput").val();
				let password = $("#passwordInput").val();
				let name = $("#nameInput").val();
				let userId = $("#userIdInput").val();
				
				if(loginId == ""){
					alert("휴대폰 번호 또는 이메일 주소를 입력해주세요");
					return;
					
				}
				if(password == ""){
					alert("비밀번호를 입력해주세요");
					return;
					
				}
				if(name == ""){
					alert("이름을 입력해주세요");
					return;
					
				}
				if(userId == ""){
					alert("프로필에 표시될 이름을 입력해주세요");
					return;
					
				}
				
				
				$.ajax({
						type:"post"
						, url:"/blastagram/sign-up"
						, data:{"loginId":loginId, "password":password, "name":name, "userId":userId}
						, success:function(response){
							if(response.result = "success"){
							location.href="/blastagram/login-view"
							} else {
								alert("회원가입 실패");
							}
						}
						, error:function(){
							alert("회원가입 오류!!");		
						}
				});
				
				
			});
			
			
			
			
		});
		
		
		</script>

</html>