<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">

		<section layout:fragment="contents" class="contents d-flex justify-content-center my-5 p-4">
			<div class="start rounded-lg border border-secondary p-5">
				<h1 class="pacifico-regular text-center m-5">Blastagram</h1>
			<form id="loginForm">
				<input type="text" class="form-control mt-4" placeholder="전화번호, 사용자 이름 또는 이메일" id="loginIdInput">
				<input type="password" class="form-control mt-4" placeholder="비밀번호" id="passwordInput">
				<label class="d-flex justify-content-end mt-4"><input type="checkbox" class="mr-2" checked id="autoLogin">자동 로그인</label>
				<div class="d-flex">
					<button type="button" class="btn btn1 mt-5 w-100 mr-4" id="signUpBtn">가입하기</button>
					<button type="submit" class="btn btn2 mt-5 w-100 text-white" id="loginBtn">로그인</button>
				</div>
			</form>	
					<div class="mt-5"></div>
					<div class="mt-5 text-center">
					<a href="#" class="text-secondary">비밀번호를 잊으셨나요?</a></div>
			</div>
		</section>
		
	<script layout:fragment="script">
	 $(document).ready(function(){
		
 		$("#signUpBtn").on("click",function(){
			 
			 location.href ="/blastagram/sign-up-view";
			 
		 });
		 
		 
		 $("#loginForm").on("submit",function(e){
			 
			 //return false; form태그의 기능이 false됨
			 
			 // submmit 이벤트가 가진 고유의 기능을 막는다
			 e.preventDefault();
			 
			 
		 //});
		 
		 
		// $("#loginBtn").on("click",function(){
			 
			 let loginId = $("#loginIdInput").val();
			 let password = $("#passwordInput").val();
			 
			 
			 if(loginId == ""){
				 alert("아이디를 입력하세요!")
				 return;
			 }
			 if(password == ""){
				 alert("비밀번호를 입력하세요!")
				 return;
				 
			 }
			 
		 $.ajax({
			 type:"post"
			 ,url:"/blastagram/login"
			 ,data:{"loginId":loginId, "password":password}
		 	,success:function(response){
		 		if(response.result =="success"){
		 			location.href="/blastagram/main-view"
		 		} else {
		 			alert("로그인 실패")
		 		}
		 	}
		 	,error:function(){
		 		alert("로그인 오류!")
		 	}
			 
			 
			 });
		 });
		 
		 
		 
		 
		 
	 });
	
	
	</script>	
		
</html>