<div class="menu border-right border-light-subtle">
		<div class="ml-3">
			<div class="d-flex align-items-center my-5 ml-3">
				<a href="/blastagram/main-view" class="text-dark" style="text-decoration:none"><h3 class="pacifico-regular">Blastagram</h3></a>
			</div>
			<div>
				<ul class="nav flex-column noto-sans-kr">
				  <li><a class="nav-link active text-dark mb-2" aria-current="true" href="#"><img width="30" src="/static/icon/home.png" class="mr-2">홈</a></li>
				  <li><a class="nav-link text-dark mb-2" href="#"><img width="30" src="/static/icon/search.png" class="mr-2">검색</a></li>
				  <li><a class="nav-link text-dark mb-2" href="#"><img width="30" src="/static/icon/reels.png" class="mr-2">릴스</a></li>
				  <li><a class="nav-link text-dark mb-2" href="#"><img width="30" src="/static/icon/message.png" class="mr-2">메시지</a></li>
				  <li><a class="nav-link text-dark mb-2" href="#"><img width="30" src="/static/icon/liked.png" class="mr-2">알림</a></li>
				  <li><a class="nav-link text-dark mb-2" href="/blastagram/post-view"><img width="30" src="/static/icon/add.png" class="mr-2">만들기</a></li>
				  <li><a class="nav-link text-dark mb-2" href="#"><img width="30" src="/static/icon/storyavatar.png" class="mr-2">프로필</a></li>
				  <li><a class="nav-link text-dark mt-5" href="#" >더보기</a></li>
				</ul>
			</div>
	</div>
</div>