@charset "UTF-8";

#wrap{
	/*
	width:1200px;
	height:900px;
	*/
	margin: 0 auto;
}

header {
	height:100px;
	background-color:#EBEDF0;
}
.menu {
	width:300px;
	height:900px;
}


/*FONT*/
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}



.contents {
	/*width:1200px;
	height:800px;*/
}
.contents > .main {
	width:500px;
	height: 700px;
	background-color:#F5FEFB;
}

.contents > .story {
	width:900px;
	height:100px;
	background-color:#FFF9F9;
}
.post {
	width:450px;
	/*
	height:650px;
	*/
}

.post-image {
	width:450px;
	height:800px;
	background-color:#FFF9F9;
	object-fit: contain;
}
.comment {
	width:450px;
	height:800px;
}

.comment > .posting {
	height:500px;
}

.comment > .comment-ui{
	height:200px;
}

.prof {
	border-radius: 50%;
}



.btn1 {
	background-color:#E3D3D3;
}
.btn2 {
	background-color:#32ADE6;
}

footer {
	/*
	height:70px;
	*/
}

/*
https://codingapple.com/unit/html-18-webfont/

//z-index 높은게 위로 올라감
<div id="img1" style="display:none; position:absolute; top:0px; left:0px; z-index:2"> </div>
<div id="img2" style="display:block; position:absolute; top: 0px; left :0px; z-index:1"> </div>

*/

